<div class="panel panel-primary">
  <div class="panel-heading">
    <%= link_to post.title, edit_post_path(post), style: "color: white; text-decoration: none;" %>
  </div>
  <div class="panel-body">
    <%= post.body.first(500) + " ..." %> <%= link_to "Read more", post %>
  </div>
  <div class="panel-footer">
    Tags: <%= render partial: "post_tag", collection: post.tags, as: :tag %>
  </div>
</div>
